@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  width: 100%;
  color: #fff;
  background-color: #121212;
  overflow-x: hidden;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
a:hover {
  text-decoration: none;
  color: #fff;
}

:focus {
  outline: none;
}

.form-select:focus {
  box-shadow: none;
}

button:focus {
  outline: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #f1f1f1;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: #000;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(130, 130, 130, 0.4);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
  border-radius: 6px;
}

#root {
  height: 100%;
}

.Image-edit-class {
  position: relative;
  width: 110px;
  height: 100px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.Image-edit-class img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
}

.image-add-class {
  display: flex;
  flex-wrap: wrap;
}

.accordion.open-sidebar .accordion-collapse {
  display: block;
}

.Image-edit-class .close-btn-new {
  position: absolute;
  right: 0;
  top: -5px;
  background-color: #7c64f8;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}

// ============ logo 

.hdr-logo-top img {
  width: 145px;
}

.cls-1 {
  fill: #7c64f8;
}

.cls-2 {
  fill: transparent;
}

// ======================== LOGIN ======================= //

.login-main-left-bg {
  background: #1e1e1e;
}

.comn-row-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login-main-part-scroll {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 15px 0;
}

.login-main-side {
  display: flex;
  flex-direction: column;
  min-height: calc(100% - 0px);
}

.login-main-box {
  background-color: transparent;
  padding: 15px;
  max-width: 500px;
}

.login-main-box svg {
  width: 312px;
}

.login-main-box h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
}

.login-main-box p {
  color: #fff;
  font-size: 16px;
  margin-bottom: 0;
}

.login-label-text {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.login-comn-input {
  color: #fff;
  background-color: #1e1e1e;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 100px;
  height: 50px;
  font-size: 15px;
  font-weight: 500;
}

.login-comn-input::-webkit-input-placeholder {
  color: #ece9e9;
  font-size: 14px;
  font-weight: 400;
}

.login-comn-input:focus {
  color: #fff;
  background-color: #1e1e1e;
  border-color: transparent;
  box-shadow: 0 0 3px #7c64f8;
}

.showpwd-class {
  position: absolute;
  right: 25px;
  cursor: pointer;
  top: 50%;
  transform: translate(50%, -50%);
}

.showpwd-class i {
  color: #fff;
  font-size: 20px;
}

.showpwd-class.active i::before {
  content: '\f341';
}

.comn-btn-class {
  background-color: #7c64f8;
  border: 0;
  letter-spacing: 0.04em;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  outline: none;
  overflow: hidden;
  padding: 15px 20px;
  position: relative;
  text-transform: none;
  transition: all 0.3s;
  z-index: 0;
}

.btn-radius {
  border-radius: 5px !important;
}

.comn-btn-class {
  background-color: #7c64f8;
  border-radius: 1000px;
  font-weight: 500;
  padding: 12px;
  color: #ffffff;
  font-size: 16px;
  border: 1px solid #7c64f8;
  transition: all 0.3s;
}

.comn-btn-class:hover {
  background-color: transparent;
  box-shadow: 0 0 0 0.25rem rgb(124 100 248 / 20%);
  color: #7c64f8;
}

.cust-chk-bx {
  display: block;
  position: relative;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
  user-select: none;
  padding-left: 30px;
}

.cust-chk-bx input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.cust-chk-bx input:checked~.cust-chkmark {
  background: #7c64f8;
  border-radius: 4px;
  border: 1px solid #7c64f8;
}

.cust-chkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  background-color: transparent;
}

.cust-chk-bx input:checked~.cust-chkmark:after {
  display: block;
}

.cust-chk-bx .cust-chkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.cust-chkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.forgot-pwd {
  color: #7c64f8;
  font-size: 16px;
  font-weight: 500;
}

.forgot-pwd:focus {
  box-shadow: none;
  color: #7c64f8;
}

.forgot-pwd:hover {
  color: #7c64f8;
}

.login-side-img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 60px;
  padding-right: 60px;
}

.login-side-img img {
  object-fit: cover;
}

//===== forgot password modal ======= //

.comn-modal-style .modal-content {
  background-color: #262626;
  border-radius: 10px;
}

.comn-modal-style .modal-header {
  border: 0;
  padding: 10px;
}

.comn-modal-style .modal-header .btn-close {
  background-image: url('/images/close.svg');
  opacity: 1;
  background-size: 10px;
}

.comn-modal-style .modal-header .btn-close:focus {
  box-shadow: none;
}

.modal-data span {
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
  display: block;
  margin-bottom: 15px;
}

.modal-data p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
}

.modal-in-box {
  background-color: #121212;
  padding: 15px;
  border-radius: 10px;
  margin: auto;
  max-width: 350px;
  cursor: pointer;
}

.box-in-info span {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}

.box-in-info p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}

// check-mail //

.main-center-form {
  background-color: #1e1e1e;
  border-radius: 20px;
  // max-width: 500px;
}

.comn-login-head h2 {
  color: #fff;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 15px;
  font-weight: 700;
}

.comn-login-head p {
  color: #828282;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.comn-login-head p span {
  color: #7c64f8;
}

// reset password //

.comn-label-class {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 10px;
}

// ================= HEADER ================ //
.header-top-section .navbar {
  padding: 7px 15px;
  z-index: 97;
  height: 70px;
  margin-left: 220px;
  background-color: #1e1e1e;
  flex-wrap: nowrap;
  border-bottom: 1px solid #1a202c4d;
}

.hdr-notify-box {
  background: #121212;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
  border: 1px solid #121212;
}

.notification-no {
  align-items: center;
  background: #7c64f8;
  border-radius: 100px;
  color: white;
  display: inline-flex;
  font-size: 10px;
  height: 20px;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 20px;
  position: absolute;
  top: -2px;
  right: -2px;
}

.today-msg-line bdi {
  background-color: #000;
  padding: 0px 5px;
  position: absolute;
  left: 50%;
  color: #828282;
  font-size: 12px;
  transform: translate(-50%, -50%);
}

.notif-circle {
  height: 50px;
  width: 50px;
  min-height: 50px;
  min-width: 50px;
  border: 1px solid rgba(130, 130, 130, 0.15);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-notif .dropdown-item {
  padding: 0;
  white-space: normal;
  background-color: #000;
  color: #fff;
}

.upload-profile-notif span {
  font-size: 12px;
}

.upload-profile-notif p {
  color: #828282;
  font-size: 10px;
}

.profile-hdr-drop {
  border-radius: 50px;
  width: auto;
  padding: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  cursor: pointer;
}

.profile-pic img {
  border-radius: 15px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.profile-hdr-drop-class {
  position: relative;
}

.profile-hdr-drop-class button,
.admin-notif button {
  padding: 0;
}

.profile-hdr-drop-class button:focus,
.profile-hdr-drop-class button:hover,
.admin-notif button:focus,
.admin-notif button:hover {
  box-shadow: none !important;
  border-color: #1e1e1e;
}

.admin-notif {
  border-right: 1px solid #605b6a;
}


.profile-hdr-drop-class .dropdown-menu {
  border-radius: 10px;
  margin: 4px 0 0 0;
  width: 250px;
  height: auto;
  text-align: left;
  background: rgb(0, 0, 0);
  left: auto;
  right: 0;
  z-index: 1002;
  padding: 20px;
}

.profile-hdr-drop-class .dropdown-item {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  transition: all 0.3s;
  text-decoration: none;
  width: auto;
  height: 55px;
  border: 1px solid rgba(130, 130, 130, 0.2);
  border-radius: 30px;
}

// .dropdown-item:hover {
//   background-color: white;
// }

.dropdown-toggle::after {
  display: none;
}

.today-msg-line {
  height: 1px;
  width: 100%;
  background-color: rgba(130, 130, 130, 0.2);
}

.upload-profile-notif {
  padding: 15px 0;
  border-bottom: 1px solid rgba(130, 130, 130, 0.15);
}

.admin-notif .dropdown-menu {
  width: 350px;
  padding: 20px;
  height: 418px;

  border-radius: 10px;
  margin: 10px 0 0 -10px;
  // height: auto;
  text-align: left;
  background: #000;
  border: 1px solid rgba(32, 33, 36, 0.3);
  z-index: 1002;
  overflow-y: auto;

}

.delete-rou-po {
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 999;

}

.noti-detail-part {
  color: #1a202c;
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid rgba(32, 33, 36, 0.3);
}

.noti-detail-part p {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(255, 255, 255, 0.568);
}

.noti-detail-part a {
  color: #0066b9;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: transparent;
}

.profile-hdr-drop-class .dropdown-item:hover {
  background-color: #000;
}

.time-noti-div {
  color: #fff;
  font-size: 13px;
}

.view-noti-btn {
  display: inline-block;
  border: 1px solid rgba(32, 33, 36, 0.3);
  border-radius: 1000px;
  box-shadow: none;
}

.view-noti-btn:focus,
.search-btn-hdr:focus {
  box-shadow: none;
}

.profil-detail-section span {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  vertical-align: middle;
  line-height: 19px;
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.profil-detail-section p {
  color: #828282;
  font-size: 14px;
  font-weight: 500;
  vertical-align: middle;
  line-height: 19px;
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  margin-bottom: 0;
}

.fix-in-icon {
  position: absolute;
  bottom: 50%;
  top: 50%;
  right: 15px;
  margin: auto 0;
}

.login-comn-input.searchbar {
  background: rgba(18, 18, 18, 0.5);
  width: 250px;
  color: #cac9d1;
  border: 1px solid rgba(130, 130, 130, 0.2);
  border-radius: 25px;
  padding-right: 50px;
}

.arrw-left-icon {
  align-items: center;
  background-color: #121212;
  border: 1px solid rgba(6, 22, 36, 0.2);
  border-radius: 50%;
  cursor: pointer;
  display: inline-flex;
  height: 28px;
  justify-content: center;
  left: 205px;
  top: 75px;
  transition: all 0.3s;
  width: 28px;
  z-index: 98;
  box-shadow: 2px 2px 2px 1px rgba(124, 100, 248, 0.1);
}

.dash-main-class-add .sidebar-main-inner-menu li bdi span {
  display: none;
}

.dash-main-class-add .navbar.fixed-top {
  margin-left: 0;
  transition: all 0.3;
  z-index: 0;
}

.dash-main-class-add .sidebar-main-section {
  width: 70px;
}

.dash-main-class-add .arrw-left-icon {
  left: 55px;
}

.dash-main-class-add .arrw-left-icon i {
  transform: rotate(180deg);
}

.dash-main-class-add .log-fix-btm button {
  padding: 10px 20px;
  margin: 0;
}

.dash-main-class-add .log-fix-btm button span {
  display: none;
}

.dash-main-class-add .content-main-section {
  padding-left: 80px;
}

.search-form-wrapper {
  position: absolute;
  top: 35px;
  opacity: 0;
  visibility: hidden;
  left: 15px;
  right: 15px;
  z-index: 1;
  margin-top: 45px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
}

// ====================== SIDEBAR ======================== //

.sidebar-main-section {
  position: fixed;
  background-color: #1e1e1e;
  top: 0px;
  left: 0px;
  z-index: 96;
  width: 220px;
  height: 100%;
  transition: all 0.3s;
}

.sidebar-main-inner-menu {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar-main-inner-menu li {
  position: relative;
}

.sidebar-main-inner-menu li bdi {
  padding: 15px 20px;
  display: flex;
  color: #fff;
  font-size: 15px;
  // text-transform: capitalize;
  align-items: center;
  transition: all 0.3s;
  white-space: nowrap;
  font-weight: 600;
  cursor: pointer;
  background-color: #1e1e1e;
}

.sidebar-main-inner-menu li bdi.active {
  background: linear-gradient(90deg, #2f2b46 0%, rgba(47, 43, 70, 0) 100%);
}

.sidebar-main-inner-menu li span.active {
  color: #684bff;
}

.sidebar-main-inner-menu li .accordion-header.active .accordion-button {
  // background-color: #f1f1f3;
  border-radius: 0 !important;
}

.sidebar-main-inner-menu li .accordion-header.active svg path {
  fill: #684bff;
}

.sidebar-main-inner-menu li .accordion-header.active span {
  color: #684bff;
}

.sidebar-main-inner-menu li bdi span {
  margin-left: 15px;
  display: block;
  transition: all 0.3s;
  color: #828282;
}

.sidebar-main-section-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-right: 1px solid #1a202c4d;
}

.sidebar-main-inner-menu li bdi svg {
  min-height: 20px;
  min-width: 20px;
  transition: all 0.3s;
}

.sidebar-main-inner-menu li bdi.active svg path {
  fill: #684bff;
}

.sidebar-main-inner-menu li bdi.active span {
  color: #684bff;
}

.sidebar-logo-top {
  width: 220px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70px;
}

.sidebar-logo-top svg {
  width: 142px;
}


.sidebar-main-inner-menu .accordion-item {
  border: 0;
}

.sidebar-main-inner-menu .accordion-button:not(.collapsed) {
  box-shadow: none;
  border: none;
}

.sidebar-main-inner-menu .accordion-item:last-of-type .accordion-collapse {
  border-radius: 0px;
}

.sidebar-main-inner-menu .accordion-item:first-of-type .accordion-button {
  border-radius: 0px;
}

.sidebar-main-inner-menu .accordion-button:focus {
  z-index: 3;
  border-color: #1e1e1e;
  outline: 0;
  box-shadow: none;
  border: none;
}

.sidebar-main-inner-menu .accordion-button {
  border-radius: 0px;
  color: #684bff;
  font-size: 16px;
  align-items: center;
  font-weight: 600;
  padding: 0 !important;
  border: none;
  background: #1e1e1e;
}

.sidebar-main-inner-menu .accordion-button::after {
  flex-shrink: 0;
  width: 14px;
  height: 8px;
  margin-right: 35px;
  content: '';
  background-image: url('./images/aerrow-down.svg');
  background-repeat: no-repeat;
  background-size: 14px;
  transition: transform 0.2s ease-in-out;
}

.sidebar-main-inner-menu .accordion-button:not(.collapsed) {
  color: #684bff;
  border: none;
}

.sidebar-main-inner-menu .accordion-body {
  padding: 0;
  background-color: #1e1e1e;
}

.sidebar-main-section-inner .accordion-item:last-of-type .accordion-button:not(.collapsed) bdi span {
  color: #684bff;
}

.sidebar-main-section-inner .accordion-item:last-of-type .accordion-button:not(.collapsed) bdi svg path {
  fill: #684bff;
}

.sidebar-main-section-inner .accordion-button:not(.collapsed)::after {
  filter: saturate(900%) drop-shadow(0 0 0 #0c59ea);
}

.logout-div {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #7c64f8;
  padding: 15px 20px;
  cursor: pointer;
}

.logout-div span {
  margin-left: 15px;
}

// ======================== DASHBOARD ================== //

.content-main-section {
  padding-left: 220px;
  padding-top: 70px;
  padding-right: 0;
  // overflow-x: hidden;
  transition: all 0.3s;
  height: 100%;
  background: #121212;
}

.comn-title-main h1 {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}

.dash-top-box {
  background-color: #1e1e1e;
  border: 1px solid #1e1e1e;
  border-radius: 8px;
  padding: 15px;
  height: 100%;
}

.dash-top-box.fix-span span {
  width: 44px;
  min-width: 44px;
  height: 44px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.dash-top-box.fix-span p {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  margin: 10px 0 5px 0;
}

.dash-top-box-info bdi {
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #828282;
  text-transform: none;
}

.dash-top-box.fix-span span img {
  max-width: 26px;
  max-height: 26px;
  object-fit: contain;
}

.dash-span-1 {
  background: #f4f9ff;
  background: rgba(143, 191, 255, 0.1);
}

.dash-span-2 {
  background: #ebf8ed;
  background: rgba(46, 184, 71, 0.1);
}

.dash-span-3 {
  background: #e9f5ff;
  background: rgba(32, 153, 255, 0.1);
}

.dash-span-4 {
  background: #fef5ed;
  background: rgba(255, 255, 255, 0.1);
}

.dash-span-5 {
  background: #fdefef;
  background: rgba(235, 87, 87, 0.1);
}

.dash-part-hdr {
  background-color: #1e1e1e;
  border-radius: 10px;
  height: 100%;
}

.dash-part-hdr-top {
  padding: 15px;
}

.dash-part-hdr-top span,
.dash-part-table-hdr span {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.dash-part-hdr-top .chart-data {
  color: #004aad;
  font-weight: 700;
}

.chart-data .form-select {
  display: block;
  width: 100%;
  padding: 10px 40px 10px 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: #fff;
  background-color: #262626;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #262626;
  border-radius: 8px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  appearance: none;
  background-image: url('./images/aerrow-down\ copy.svg');
  background-repeat: no-repeat;
}

.apexcharts-tooltip,
.apexcharts-tooltip-title {
  background: transparent !important;
}

.dash-top-box:hover {
  background-color: #272240;
  border: 1px solid #684bff;
  border-radius: 8px;
  padding: 15px;
  height: 100%;
}

.chart-data .form-select:focus {
  border-color: transparent;
  box-shadow: 0 0 0 #fff;
}

.dash-part-table-hdr {
  padding: 15px;
  border-bottom: 1px solid #565656;
  background-color: #1e1e1e;
  border-radius: 10px 10px 0px 0px;
}

.bx-black-main .MuiPaper-root {
  background-color: #1e1e1e;
}

.bx-black-main .MuiPaper-root thead th {
  text-transform: capitalize;
  font-weight: 700 !important;
  font-size: 15px;
  line-height: 27px;
  color: #fff;
  white-space: nowrap;
  border-bottom: 0;
  text-align: left;
  vertical-align: middle !important;
  font-family: 'Roboto';
  background-color: rgba(130, 130, 130, 0.1);
  position: unset;
  margin: 0;
}

.search-his-body-scroll::-webkit-scrollbar {
  width: 0;
}

.search-his-body-scroll {
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 10px;
}

.dash-part-hdr .bx-black-main table thead th {
  background-color: #1e1e1e;
}

.table-view-link {
  font-weight: 700;
  font-size: 16px;
  color: #7c64f8;
}

.search-result-box {
  position: absolute;
  background: #000;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  display: none;
}

.search-result-box.active {
  display: block;
}

.search-his-body-scroll li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(105, 113, 129, .3);
  padding: 10px 0;
}

.search-his-body-scroll a:last-child li {
  border-bottom: 0;
}

.search-his-body-scroll li span {
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: .02em;
  text-transform: capitalize;
  color: #ffffffbd;
  cursor: pointer;
}

// ================ USER ============== //

.comn-table-bg {
  background: #1e1e1e;
  padding: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.comn-table-bg table thead tr {
  background: #828282 !important;
  opacity: 0.1;
  border-radius: 10px;
}

.table-dropdown-btn {
  background-color: white;
  border: 0;
  color: black;
  padding: 0;
}

.table-dropdown-btn:hover,
.table-dropdown-btn:focus,
.show>.btn-primary.dropdown-toggle:focus,
.show>.btn-primary.dropdown-toggle,
.btn-primary.dropdown-toggle:focus:active {
  background-color: white;
  box-shadow: none;
  color: black;
  border: 0;
}

.table-ed-drop .dropdown-toggle::after {
  display: none;
}

.table-ed-drop .dropdown-menu {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: #000;
  border: 0;
  color: #fff;
  padding: 10px;
}

.table-ed-drop .dropdown-menu .dropdown-item {
  border-bottom: 1px solid #6a6e834d;
  padding-right: 0;
  padding-left: 0;
}

.table-ed-drop .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
}

.table-ed-drop .dropdown-menu .dropdown-item bdi {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  padding: 5px 0;
}

.table-ed-drop .dropdown-item:hover {
  background-color: #1e1e1e;
}

.table-dropdown-btn {
  color: #fff;
  background-color: transparent;
}

.table-dropdown-btn:hover,
.table-dropdown-btn:focus,
.show>.btn-primary.dropdown-toggle:focus,
.show>.btn-primary.dropdown-toggle,
.btn-primary.dropdown-toggle:focus:active {
  background-color: transparent;
  box-shadow: none;
  color: #fff;
  border: 0;
}

.table-user-div img {
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
  width: 70px;
  height: 70px;
  border: 1px solid rgba(255, 255, 255, .1);
}

.table-user-div video {
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
  width: 70px;
  height: 70px;
}

.user-table-info table,
.user-table-info .MuiPaper-root {
  background-color: #1e1e1e;
  border-radius: 10px;
}

.user-table-info table thead tr th {
  color: #ffff;
  background-color: #282828;
  padding: 16px;
}

.user-table-info table tbody tr td {
  color: #fff !important;
  border-radius: 10px;
}

.user-table-info .MuiTableCell-root {
  border-bottom: none;
}

.user-table-info .MuiTablePagination-root,
.user-table-info .MuiSelect-icon,
.user-table-info .MuiIconButton-label {
  color: #fff !important;
}

.talent-table-main table tbody tr {
  cursor: pointer;
}

// ================ USER-DETAILS ====================== //
.table-title {
  font-weight: 600;
  font-size: 16px;
}

.user-instruction-class bdi {
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}

.user-instruction-class p {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  background: #272240;
  padding: 20px 40px;
  color: #828282;
  margin: 15px 0px;
  border-radius: 15px;
}

.dollar-fix {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(50%, -50%);
}

//  ================= TALENT ===================== //

.comn-status-class {
  width: 100px;
  height: 34px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.comn-status-class .active-class {
  padding: 5px 15px;
  border-radius: 100px;
  color: #22ca80;
  background: rgba(34, 202, 128, 0.1);
}

.comn-status-class .deactive-class,
.comn-status-class .decline-class {
  color: #eb5757;
  padding: 5px 15px;
  border-radius: 100px;
  background: rgba(235, 87, 87, 0.1);
}

.comn-status-class p {
  margin: 0;
}

.comn-status-class.accept-class {
  padding: 5px 15px;
  border-radius: 100px;
  color: #7c64f8;
  background: rgba(124, 100, 248, 0.1);
}

.comn-txt-class.green-txt {
  color: #10d995 !important;
}

.comn-txt-class.purple-txt {
  color: #7c64f8 !important;
}

.comn-txt-class.red-txt {
  color: #eb5757 !important;
}

.comn-gray-form-select .form-select {
  display: block;
  width: 100%;
  color: #fff;
  background-image: url('./images/aerrow-down\ copy.svg');
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 14px 12px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  appearance: none;
  background-color: #181818;
  border: 1px solid #605b6a;
  border-radius: 10px;
  padding: 15px 15px;
  height: 50px;
  font-size: 14px;
  font-weight: 500;
  min-width: 170px;
}

.comn-gray-form-select .form-select:focus {
  background-color: #181818;
  box-shadow: none;
  border: 1px solid #605b6a;
}

// ==================== SETTING ADMIN =============== //

.btn-comnn-purple {
  background-color: #7c64f8;
  color: #fff;
  border: 1px solid #7c64f8;
  border-radius: 10px;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  outline: none;
  overflow: hidden;
  padding: 0px 20px;
  text-transform: capitalize;
  z-index: 0;
  height: 50px;
}

.cancle-btn-class {
  background: #1e1e1e;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 100px;
}

.admin-offcanvase-main .offcanvas-header {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  background: #121212;
}

.admin-offcanvase-main .offcanvas-body {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  background: #1e1e1e;
}

.admin-offcanvase-main .offcanvas-body label {
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #fff;
}

.admin-offcanvase-main .offcanvas-body .form-select {
  color: #6a6e83;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 100px;
}

.admin-offcanvase-main .btn-close {
  color: #fff;
  background: url('./images/close.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.admin-offcanvase-main button:focus:not(:focus-visible) {
  box-shadow: 0 0 0 0.25rem rgb(124 100 248 / 20%);
}

// ================ EDIT ADMIN ====================== //
.user-info-pro img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100px;
}

.set-box-head {
  padding: 15px;
  border: 1px solid rgba(106, 110, 131, 0.2);
  border-radius: 10px;
}

.user-info-hdr {
  padding-bottom: 25px;
  border-bottom: 1px solid #282828;
}

.user-info-hdr div bdi {
  font-weight: 500;
  font-size: 16px;
}

.user-info-hdr .user-role {
  font-weight: 500;
  font-size: 14px;
  color: #828282;
}

.user-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.btn-comn-class-2 {
  background-color: #121212;
  border: 1px solid #565656;
  letter-spacing: 0.04em;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  outline: none;
  overflow: hidden;
  padding: 15px 20px;
  position: relative;
  text-transform: capitalize;
  transition: all 0.3s;
  z-index: 0;
}

.btn-comn-class-2.btn-red-bg {
  background: rgba(235, 87, 87, 0.1);
  border: 1px solid #eb5757;
  color: #eb5757;
}

.permission-table {
  border: 1px solid #565656;
  border-radius: 10px;
  overflow: hidden;
}

.permission-table table tr,
.permission-table table tbody,
.permission-table table td,
.permission-table table tfoot,
.permission-table table th,
.permission-table table thead {
  border-bottom: 1px solid #565656;
}

.permission-table .dash-part-table-hdr {
  background: #121212;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
  color: #fff;
}

.permission-table table thead th {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  background: #181818;
  white-space: nowrap;
}

.permission-table table tbody tr th {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
}

.permission-table table tbody tr:nth-child(even) {
  background-color: #181818;
}

.permission-table table tbody tr:last-child,
.permission-table .table> :not(:first-child) {
  border: none;
}

.custom-table-btm .form-select {
  max-width: 90px;
}

.table-custom-info .table {
  border-collapse: separate;
  border-spacing: 0 9px;
}

.table-custom-info thead th:first-child {
  border-radius: 10px 0 0 10px;
}

.table-custom-info thead th:last-child {
  border-radius: 0 10px 10px 0;
}

.table-custom-info tbody td:first-child {
  border-radius: 10px 0 0 10px;
}

.table-custom-info tbody td:first-child {
  border-left: 1px solid rgba(96, 91, 106, 0.2);
}

.table-custom-info tbody td {
  border-radius: 0px;
  border-bottom: 1px solid #282828;
  border-top: 1px solid #282828;
}

.table-custom-info tbody td:last-child {
  border-radius: 0 10px 10px 0;
}

.table-custom-info tbody td:last-child {
  border-right: 1px solid rgba(96, 91, 106, 0.2);
}

// =================== CHANGE PASSWORD ===================== //

.comn-input-style.form-control:disabled,
.comn-input-style.form-control[readonly] {
  background-color: transparent;
}

.comn-input-style {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 100px;
  height: 50px;
  background-color: #121212;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

.comn-input-style:focus {
  box-shadow: 0 0 0 0.25rem rgb(124 100 248 / 20%);
  background-color: transparent;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #7c64f8;
}

.new-select-class .classNamePrefix__control {
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  border-radius: 100px;
  height: 50px;
  background-color: #121212;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

.custm-toggel-switch.diff-switch {
  position: relative;
  transform: translate(0, 0);
}

.new-select-class .classNamePrefix__control.classNamePrefix__control--is-focused {
  box-shadow: 0 0 0 0.25rem rgb(124 100 248 / 20%) !important;
  background-color: transparent !important;
  color: #ffffff !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  border: 1px solid #7c64f8 !important;
}

.comn-input-main label {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}

.comn-input-main .form-control {
  height: 50px;
}

// ======================= REQUESTS ================= //

.border-class .form-select {
  border-radius: 10px !important;
}

// ============= UPLOADED VIDEO =============== //

.fix-col {
  width: 20%;
}

.video-fix-col {
  height: 340px;
  border-radius: 12px;
  max-width: 286px;
  margin: auto;
}

.uploaded-video-main {
  position: relative;
  max-width: 400px;
  border-radius: 12px;
  overflow: hidden;
}

.uploaded-video-main video {
  object-fit: cover;
  // max-width: 286px;
  min-height: 340px;
  max-height: 340px;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.img-black-shadow::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background: linear-gradient(180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.74) 100%);
}

.video-play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.video-txt {
  bottom: 0;
  padding: 15px;
  position: absolute;
  width: 286px;
  max-width: 286px;
}

.video-txt span,
.video-txt p {
  font-weight: 600;
  font-size: 16px;
  margin: 2px 0px;
}

.video-txt bdi {
  display: block;
  font-weight: 400;
  font-size: 13px;
  margin: 2px 0px;
}

.error-new {
  display: none;
  color: #dc3545 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  padding: 10px 0 !important;
  font-style: italic;
}

.error-new.active {
  display: block;
}

.video-select video {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.bx-black-main .MUIDataTableHeadCell-sortActive-39 {
  color: #fff;
}

.bx-black-main .MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active .MuiTableSortLabel-icon {
  color: rgba(255, 255, 255, 0.64) !important;
}

.bx-black-main .MUIDataTableHeadCell-sortLabelRoot-38 {
  height: 25px;
}

.user-table-info .MuiPaper-root tbody td {
  border-radius: 0px;
  border-bottom: 1px solid #282828;
  border-top: 1px solid #282828;
}

.bx-black-main .MuiPaper-root table {
  border-collapse: separate;
  border-spacing: 0 9px;
}

.dash-board-data-table .MuiPaper-root tbody td:first-child,
.dash-board-data-table .MuiPaper-root tbody td:last-child,
.dash-board-data-table .user-table-info .MuiPaper-root tbody td,
.dash-board-data-table .MuiPaper-root tbody td:first-child,
.dash-board-data-table .MuiPaper-root tbody td {
  border: none !important;
}

.dash-board-data-table .MuiPaper-root tbody td {
  color: #828282;
}

.bx-black-main .MuiPaper-root tbody td:first-child {
  border-left: 1px solid #605b6a33;
}

.bx-black-main .MuiPaper-root tbody td:last-child {
  border-right: 1px solid #605b6a33;
}

.bx-black-main .MuiPaper-root tbody td:first-child {
  border-radius: 10px 0 0 10px;
}

.bx-black-main .MuiPaper-root tbody td:last-child {
  border-radius: 0 10px 10px 0;
}

.bx-black-main .MuiPaper-root thead th:first-child {
  border-radius: 10px 0 0 10px;
}

.bx-black-main .MuiPaper-root thead th:last-child {
  border-radius: 0 10px 10px 0;
}

.bx-black-main .MuiPaper-elevation4 {
  box-shadow: none;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #fff;
}

input:-moz-autofill {
  -moz-text-fill-color: #fff;
}

input:-ms-autofill {
  -ms-text-fill-color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #121212 inset;
  -ms-box-shadow: 0 0 0px 1000px #121212 inset;
  -moz-box-shadow: 0 0 0px 1000px #121212 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.user-table-info .MuiButton-root {
  color: #fff !important;
}

.css-1s2u09g-control {
  background: #121212 !important;
  border: none !important;
}

.css-1pahdxg-control {
  background: #121212 !important;
  border: none !important;
  box-shadow: none !important;
}

.css-1pndypt-Input {
  color: #fff !important;
}

.css-1jwi8f4-singleValue {
  color: #fff !important;
}

.css-1jwi8f4-singleValue:hover {
  color: #fff !important;
}

.css-6j8wv5-Input {
  color: #fff !important;
}

.css-1okebmr-indicatorSeparator {
  background-color: transparent !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  width: 0 !important;
}

#react-select-2-listbox {
  background-color: #121212 !important;
}

.classNamePrefix__menu {
  background-color: #121212 !important;
}

// ====================== media-query===============================================================================================================================================================

@media (max-width: 1199px) {
  .sidebar-main-inner-menu {
    height: calc(100% - 45px);
  }

  .content-main-section,
  .dash-main-class-add .content-main-section {
    padding-left: 0;
  }

  .sidebar-main-section-inner {
    margin: 0;
  }

  .dash-main-class-add .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
  }

  .dash-main-class-add .sidebar-main-section {
    left: 0;
    width: 250px;
  }

  .dash-main-class-add .sidebar-main-inner-menu li bdi span,
  .dash-main-class-add .log-fix-btm button span {
    display: block;
  }

  .sidebar-main-section {
    box-shadow: none;
    height: 100%;
    left: -250px;
    position: fixed;
    top: 0;
    transition: all 0.5s ease-in-out;
    width: 250px;
    z-index: 1000;
  }

  .arrw-left-icon i {
    transform: rotate(180deg);
    color: #684bff;
  }

  .dash-main-class-add .arrw-left-icon {
    left: 5px;
  }

  .header-top-section .navbar {
    margin-left: 0px;
  }

  .arrw-left-icon {
    display: flex;
    left: 15px;
    top: 23px;
    transition: none;
  }

  .fix-col {
    width: 25%;
  }



}

@media (max-width: 991px) {
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .hdr-rgt-part.active-user-info {
    transform: scaleY(1);
    max-height: 100vh;
  }

  .hdr-rgt-part.active-user-info li {
    display: block;
    transition: all 0.3s;
  }

  .hdr-rgt-part {
    transform-origin: top;
    transform: scaleY(0);
    max-height: 0;
    background-color: #1e1e1e;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 80px;
    left: 0;
    transition: all 0.3s;
    margin: 0 10px;
    border-radius: 15px;
    justify-content: center;
    border: 1px solid rgba(106, 110, 131, 0.1);
  }

  .fix-col {
    width: 33.33%;
  }
}

@media (max-width: 767px) {
  .hdr-rgt-part.search-form-wrapper {
    transform: scaleY(1);
    max-height: 100vh;
  }

  .hdr-rgt-part.search-form-wrapper li {
    display: block;
    transition: all 0.3s;
  }

  .search-form-wrapper.active {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
    background-color: #121212;
    border-radius: 25px;
  }

  .fix-col {
    width: 50%;
    margin: auto;
  }

  .fans-txt b {
    max-width: 45px;
  }
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  background: url('./images/times-circle-close.svg') no-repeat;
  background-size: 15px;
  background-position: center center;
  opacity: 1;
  pointer-events: none;
  color: #cac9d1;

}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 1;
  color: #cac9d1;
  pointer-events: all;
}

@media (max-width: 575px) {

  .hdr-logo-top img {
    width: 110px;
  }

  .permission-table table thead th,
  .permission-table table tbody tr th {
    font-size: 14px;
  }


  .set-box-head {
    padding: 10px;
  }

}

@media (max-width: 480px) {
  .fix-col {
    width: 100%;
  }
}

;